body
{
    padding:0px;
    background-color:#2c2b2b;
    color:#FFF;
    line-height:normal;
}
a
{
    color:#FFFFFF;
}
a:hover
{
    color:#FFFFFF;
    text-decoration:none;
}
a:focus
{
    outline:none;
}
*:focus {
    outline:none;
}
form
{
    margin:0;
}
.font_green
{
    color:#6a8722;
}
.gray_button
{
    background-color:#444444;
    border:1px solid #3a3a3a;
    text-align:center;
    display:block;
}
@media (min-width: 480px)
{
    /****************************PAGE LAYOUT***********************************/
    #iadtx_page_container
    {
        float: left;
        width: 100%;
    }
    #padding-wrapper {
        padding:30px 0px 0px 25px;
    }
    #content_container
    {
        margin-right: 280px;
    }
    #header_container
    {
        padding-top:30px;
        padding-left:25px;
        min-height:115px;
    }
    #content_placeholder
    {
        height:695px;
        border-bottom:2px solid #FFF;
        padding-left:25px;
    }
    #right_panel_container
    {
        float: left;
        width: 280px;
        margin-left: -280px;
        margin-top:26px;
    }
    /****************************HEADER AND MENUS***********************************/
    #iadtx_header_logo
    {
        float:left;
        max-width:280px;
    }
    
    #page_navigation
    {
        float:left;
        margin-top:13px;
        min-width:324px;
    }
    #main_page_navigation li
    {   
        width:92px;
        height:26px;
        float:left;
        text-align:center;
        font-size:17px;
        padding-top:6px;
    }
    #main_page_navigation li.selected
    {
        width:124px;
        background: url("../images/page_nav_selected.png") no-repeat;
    }
    #main_page_navigation li a:hover
    {
        color:#6a8722 !important;
    }
    
    #search_box
    {
        float:left;
        margin-top:14px;
        margin-left:0px;
        max-width:198px;
    }
    #iadtx_global_search
    {
        width:142px;
        height:21px;
        background:url('../images/search_frame.png') no-repeat;
        border:none;
        font-size:12px;
        padding-left:13px;
    }
    #iadtx_global_search:focus
    {
        border:none;
        box-shadow:none;
    }
    /* TODO make palceholder for IE8 - */
    #iadtx_global_search::-webkit-input-placeholder
    {
        color:#b2b1b1;
        font-size:9px;
    }
    #iadtx_global_search:-moz-placeholder  
    {
        color:#b2b1b1;
        font-size:9px;
    }
    #iadtx_search_submit
    {
        margin-top:-10px;
        margin-left:4px;
        background:url('../images/search_ico.png') no-repeat;
        width:26px;
        height:24px;
        border:none;
    }
    #advanced_search
    {
        background-color:#242424;
        height:38px;
        margin-top:15px;
        font-family:Helvetica;
        font-size:13px;
        position:relative;
        width:100%;
        z-index: 100;
        float:left;
    }
    
    #advanced_filter
    {
        width:128px;
        height:28px;
        text-align:center;
        display:block;
        padding-top:11px;
        float:left;
    }
    #advanced_filter.selected
    {
        background:url('../images/advanced_filter_background.png') no-repeat;
    }
    #advanced_filter:hover
    {
        color:#6a8722 !important;
    }
    #search_by_tags
    {
        float:left;
        padding-top:11px;
        margin-left:10px;
        width:359px;
    }
    #search_by_tags_frm
    {
        width:126px;
        height:13px;
        background:url('../images/search_by_tags_frame.png') no-repeat;
        border:none;
        font-size:11px;
        padding-left:15px;
        float:left;
        margin-top:-2px;
        margin-left:10px;
        padding-top:5px;
    }
    #search_by_tags_frm:focus
    {
        border:none;
        box-shadow:none;
    }
    #search_by_tags_submit
    {
        margin-top:-3px;
        margin-left:6px;
        background:url('../images/search_ico.png') no-repeat;
        width:26px;
        height:24px;
        border:none;
        float:left;
    }
    #advanced_filter_content
    {
        width:520px;
        height:210px;
        background-color:#242424;
        position:absolute;
        top:38px;
        padding:45px 15px 15px 15px;
        display:none;
    }
    
    .advanced_filter_pts
    {
        float:left;
        width:135px;
        height:auto;
    }
    .advanced_filter_ddl
    {
        width:135px;
    }
    .arrow_up_large
    {
        width:65px;
        height:32px;
        background: url('../images/arrow_up_large.png') no-repeat;
        margin: 0 auto;
    }
    .advanced_filter_tip_box
    {
        width:125px;
        height:68px;
        border:1px solid #6a8722;
        margin:0 auto;
        font-size:13px;
        padding-left:3px;
        line-height:17px;
        padding-top:2px;
    }
    
    #select_field_wrapper, #select_degree_wrapper
    {
        margin-left:15px;
    }
    
    #advanced_filter_search_btn
    {
        width:90px;
        height:38px;
        text-align:center;
        border:1px solid #FFF;
        position:relative;
        top:27px;
        float:right;
        font-size:15px;
        font-family:Helvetica;
        background-color:#242424;
        color:#FFFFFF;
    }
    
    #advanced_search_submenu
    {
        color:#FFFFFF;
        float:right;
        font-family:Helvetica;
        font-size:13px;
        margin-top:11px;
        margin-right:5px;
    }
    #advanced_search_submenu a:hover
    {
        color:#6a8722 !important;
    }
    .advanced_submenu_item
    {
        padding:0px 10px 0px 5px;
    }
    /****************************RHS PROFILE PANEL***********************************/
    #right_panel_label
    {
        font-size:60px;
        padding-left:16px;
        height:72px;
    }
    #right_panel_content
    {
        border-left:3px solid #FFF;
        border-top: 3px solid #FFF;
        height:708px;
        padding:15px 0 18px 20px;
    }
    #no_avatar_rightpanel
    {
        float:left;
    }
    #sign_up_label
    {
        font-family:Helvetica;
        font-size:14px;
        float:left;
        margin-left:7px;
    }
    .RHS_login_btn
    {
        width:66px;
        height:18px;
        float:left;
        font-size:10px;
        padding-top:4px;
        margin-left:7px;
        margin-top:20px;
    }

    #RHS_artists_you_may_know
    {
        margin-top:35px;
        text-align:left;
        color:#FFF;
        font-size:15px;
        width:240px;
    }
    #RHS_artists_you_may_know ul
    {
        margin-top:6px;
    }
    #RHS_artists_you_may_know ul li
    {
        margin-right:5px;
        margin-bottom:5px;
        float:left;
    }
    
    #RHS_artist
    {
        width:242px;
        text-align:left;
        color:#FFF;
        font-size:15px;
        margin-top:35px;
    }
    #RHS_artist ul
    {
        margin-top:6px;
    }
    #RHS_artist ul li
    {
        margin-right:8px;
        margin-bottom:6px;
        float:left;
    }
    
    /****************************LHS MAIN CONTENT PLACEHOLDER***********************************/
    /* Styles specific to this particular page */
	.scroll-pane
	{
		width: 100%;
		height: 680px;
		overflow: auto;
	}
	.horizontal-only
	{
		height: auto;
		max-height: 680px;
	}
    .profiles {
        
    }
    .profile-box {
        height:300px;
        width: 125px;
        float:left;
        background-color:#444444;
        padding:3px;
        margin-right:8px;
        margin-top:4px;
        margin-bottom:8px;
        border:3px solid #2b2b2b;
        cursor:pointer;
    }
    .profile-box:hover {
        border:3px solid #5b6d2b;
    }
    .pr-name {
        margin-top:10px;
        color:#ffffff;
        font-size:14px;
        padding:0px 5px;
    }
    .pr-info {
        margin-top:5px;
        color:#dfdfdf;
        font-size:11px;
        padding:0px 5px;
        height:53px;
    }
    /*********************FOOTER******************/
    .footer {
        background-color:#242222;
    }
    .footer-logos {
        width:390px;
        margin:0 auto;
        margin-top:20px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .footer-text {
        color:#8c8989;
        text-align:center;
        font-size:10px;
        line-height:15px;
    }
}















